<!-- Citation: Code from Node.JS Starter Guide used as template -->

<h2>Dynamic Book Author Table</h2>
{{!-- Create a table --}}
<table id="booksauthors-table" class="dynamic-table">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            <th>Book Author ID</th>
            <th>Book Title</th>
            <th>Author First Name</th>
            <th>Author Last Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the rows in order --}}
        {{#each data}}
        <tr>
            <td>{{this.bookAuthorID}}</td>
            <td>{{this.title}}</td>
            <td>{{this.fName}}</td>
            <td>{{this.lName}}</td>
            <td class="delete"><button onclick="deleteBookAuthor({{this.bookAuthorID}})">Delete</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script src="./js/delete_bookauthor.js"></script>

<!-- ADD AUTHOR TO BOOK FORM -->
<div  class="form-box">
<h2>Add an Author to a Book</h2>
<p>To add a new book/author relationship, please enter the information below and click 'Submit'!</p>
<form id="add-booksauthors-form-ajax">
    
    <select name="input-title" id="input-title">
        <option>Select a Book</option>
        {{#each books}}
        <option value="{{this.bookID}}">{{this.bookID}}: {{this.title}}</option>
        {{/each}}
    </select>

    <select name="input-author" id="input-author">
        <option>Select an Author</option>
        {{#each authors}}
        <option value="{{this.authorID}}">{{this.authorID}}: {{this.fName}} {{this.lName}}</option>
        {{/each}}
    </select>

    <input type="submit">
</form>


{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_bookauthor.js"></script>
</div>

<div class="form-box">
<h2>Update a Book Author</h2>
<p>To update a BookAuthor relationship, select the relationship from the drop-down menu on the left then select a new title and/or author.</p>
<form id="update-bookauthor-form-ajax">
    <select name="input-bookauthorid" id="input-bookauthorid-update">
        <option>Select an BookAuthor Relationship</option>
        {{#each data}}
        <option value="{{this.bookAuthorID}}">{{this.bookAuthorID}}: {{this.title}} - {{this.fName}} {{this.lName}}</option>
        {{/each}}
    </select>

    <select name="input-bookid" id="input-bookid-update">
        <option>Select a Book</option>
        {{#each books}}
        <option value="{{this.bookID}}">{{this.bookID}}: {{this.title}}</option>
        {{/each}}
    </select>

    <select name="input-authorid" id="input-authorid-update">
        <option>Select an Author</option>
        {{#each authors}}
        <option value="{{this.authorID}}">{{this.authorID}}: {{this.fName}} {{this.lName}}</option>
        {{/each}}
    </select>
    
    <input type="submit">

</form>

<script src="./js/update_bookauthor.js"></script>
</div>
